transformers

#kobert
tqdm
torch
sentencepiece
git+https://github.com/SKTBrain/KoBERT.git#egg=kobert_tokenizer&subdirectory=kobert_hf

#kogpt

#app
django
djangorestframework
mysqlclient
django-storages
boto3
django-environ
djangorestframework-simplejwt
dj-rest-auth
django-allauth
django-cors-headers